<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pro.alex_zaitsev.currency">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TermsActivity"
            android:screenOrientation="portrait"
            android:label="@string/terms_of_usage" />
        <activity
            android:name=".activity.CreateAdvertActivity"
            android:screenOrientation="portrait"
            android:label="@string/new_advert"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.DetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/details"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.MyAdvertsActivity"
            android:screenOrientation="portrait"
            android:label="@string/my_adverts" />
        <activity android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/profile" />
        <activity android:name=".activity.RateReviewActivity"
            android:screenOrientation="portrait"
            android:label="@string/rate_app" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
